server:
  port: 8080
spring:
  application:
    name: security-lab
  datasource:
    url: jdbc:postgresql://localhost:5432/authlab
    username: auth_user
    password: auth_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
logging:
  level:
    org.springframework.security: DEBUG

security:
  jwt:
    secret: "super-secret-key-for-dev-only-change-this" # for development purposes only
    access-token-expiration-ms: 900000      # 15 min
    refresh-token-expiration-ms: 604800000  # 7 days
